{% extends "base.html" %}
{% block title %}Your Recommendations{% endblock %}
<!--list of all recommended-->

{% block content %}
<!--INPUT YOUR HTML CODE FOR THIS PAGE HERE!-->

<section class="text-center">
<h2> YOUR RECOMMENDATIONS! </h2>


<!--we'll have to display a pic with that item too...?-->
<div>
{% for item in recommendations %}
   <p> {{item.id}} {{item.recommendation_name}} {{item.recommendation_location}}
       {{item.recommendation_category}} {{item.recommendation_website}}</p>
{% endfor %}
    <br>
    {{ message }}
</div>
</section>


<!--(jinja syntax working)-->

{% endblock %}


<!--this page is equivalent to hero.html-->