<!--Change below from pages.html to base.html to see the difference. The different nav bar may be the reason why-->
{% extends "base.html" %}
{% block title %}Places to Eat{% endblock %}


{% block content %}
<!--INPUT YOUR HTML CODE FOR THIS PAGE HERE!-->

<head></head>

<!--title code-->
<body></body>
<br>
<br>
<div class="container-fluid">
 <div class="text-center">
     <div class="display-1"<h1>Places to eat</h1>
</div>
<br>
<!--intro info code-->

<br>
    <br>
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Feeling Hungry? </h1>
          <p class="lead text-muted"> Below are some of our top recommendations of where to eat around Osterly Campus. If you know somewhere good recommend below</p>
          <p>
            <a href="http://127.0.0.1:5000/recommendations" class="btn btn-primary my-2">Recommend here</a>
              <a href="https://www.google.co.uk/maps" class="btn btn-secondary my-2"> How to get there? </a>
          </p>
        </div>
      </section>

    </body>


<!--    New layout with margins on the card deck-->
    <div class="container-fluid">
        <div class="card-deck">
<!--                   Card 1 -->
                <div class ="card">
                    <img class="card-img-top" src="static/images/tigerlily.jpeg" alt="Tiger Lily Restaurant">
                    <div class="card-body">
                      <h5 class="card-title">Tiger Lily</h5>
                        <a class="btn btn-primary" href="https://www.tigerlilyofosterley.co.uk/" role="button">Click Here</a>
                      <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Thai</li>
                        <li class="list-group-item">Vegetarian options available</li>
                        <li class="list-group-item">Osterley</li>
                        <li class="list-group-item">££</li>
                      </ul>
                    </div>
                </div>

<!--       Card 2 -->
                <div class="card">
                    <img class="card-img-top" src="static/images/tigerlily.jpeg" alt="Tiger Lily Restaurant">
                    <div class="card-body">
                      <h5 class="card-title">Tiger Lily</h5></h5>
                        <a class="btn btn-primary" href="https://www.tigerlilyofosterley.co.uk/" role="button">Click Here</a>
                      <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Thai</li>
                        <li class="list-group-item">Vegetarian options available</li>
                        <li class="list-group-item">Osterley</li>
                        <li class="list-group-item">££</li>
                      </ul>
                    </div>
                </div>

<!--        Card 3 -->
                <div class="card">
                    <img class="card-img-top" src="static/images/tigerlily.jpeg" alt="Tiger Lily Restaurant">
                    <div class="card-body">
                      <h5 class="card-title">Tiger Lily</h5></h5>
                        <a class="btn btn-primary" href="https://www.tigerlilyofosterley.co.uk/" role="button">Click Here</a>
                      <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Thai</li>
                        <li class="list-group-item">Vegetarian options available</li>
                        <li class="list-group-item">Osterley</li>
                        <li class="list-group-item">££</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
<!--            Second container for the cards -->
    <br>
    <br>
        <div class="container-fluid">
        <div class="card-deck">
<!--    Card 4 -->
                <div class="card">
                    <img class="card-img-top" src="static/images/tigerlily.jpeg" alt="Tiger Lily Restaurant">
                    <div class="card-body">
                      <h5 class="card-title">Tiger Lily</h5></h5>
                        <a class="btn btn-primary" href="https://www.tigerlilyofosterley.co.uk/" role="button">Click Here</a>
                      <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Thai</li>
                        <li class="list-group-item">Vegetarian options available</li>
                        <li class="list-group-item">Osterley</li>
                        <li class="list-group-item">££</li>
                      </ul>
                    </div>
                </div>

<!--Card 5 -->
                <div class="card">
                    <img class="card-img-top" src="static/images/tigerlily.jpeg" alt="Tiger Lily Restaurant">
                    <div class="card-body">
                      <h5 class="card-title">Tiger Lily</h5></h5>
                        <a class="btn btn-primary" href="https://www.tigerlilyofosterley.co.uk/" role="button">Click Here</a>
                      <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Thai</li>
                        <li class="list-group-item">Vegetarian options available</li>
                        <li class="list-group-item">Osterley</li>
                        <li class="list-group-item">££</li>
                      </ul>
                    </div>
                </div>

<!--Card 6 -->
                <div class="card">
                    <img class="card-img-top" src="static/images/tigerlily.jpeg" alt="Tiger Lily Restaurant">
                    <div class="card-body">
                      <h5 class="card-title">Tiger Lily</h5></h5>
                        <a class="btn btn-primary" href="https://www.tigerlilyofosterley.co.uk/" role="button">Click Here</a>
                      <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Thai</li>
                        <li class="list-group-item">Vegetarian options available</li>
                        <li class="list-group-item">Osterley</li>
                        <li class="list-group-item">££</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
