<!--Change below from pages.html to base.html to see the difference. The different nav bar may be the reason why-->
{% extends "base.html" %}
{% block title %}Places to Eat{% endblock %}


{% block content %}
<!--INPUT YOUR HTML CODE FOR THIS PAGE HERE!-->

<!--title code-->
<br>
<br>
<div class="container-fluid">
 <div class="text-center">
     <div class="display-1"<h1>Places to eat</h1>
</div>
<br>
<!--intro info code-->
<br>
    <p class="lead">
  blah blah blah places to eat etc.
        jdjdhdjdkd
        dhhddjkd
</p>
<br>
    <br>
<!--bootstrap cards-->

<!--  1-->
 <div class="row">
  <div class="column">
    <div class="card">
      <div class="container text-center" style="display: flex; flex-wrap: wrap;">
 <div class=""col-sm-4 mb-3"></div>
      <div class="card" style="width: 24rem;">
  <img src="static/images/tigerlily.jpeg" style="width:24rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tiger Lily</h5>
    <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Thai</li>
    <li class="list-group-item">Vegetarian options available</li>
    <li class="list-group-item">Osterley</li>
    <li class="list-group-item">££</li>
  </ul>
  <div class="card-body">
     <a href="tigerlilyofosterley.co.uk" class="btn btn-primary">Visit website</a></a>
    </div>
      </div>
 </div>
    </div>
  </div>

<!--  2 -->

  <div class="column">
    <div class="card">
      <div class="container text-center" style="display: flex; flex-wrap: wrap;">
 <div class=""col-sm-4 mb-3"></div>
      <div class="card" style="width: 24rem;">
  <img src="static/images/tigerlily.jpeg" style="width:24rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tiger Lily</h5>
    <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Thai</li>
    <li class="list-group-item">Vegetarian options available</li>
    <li class="list-group-item">Osterley</li>
    <li class="list-group-item">££</li>
  </ul>
  <div class="card-body">
     <a href="tigerlilyofosterley.co.uk" class="btn btn-primary">Visit website</a></a>
    </div>
      </div>
 </div>
    </div>
  </div>

<!--3-->

  <div class="column">
    <div class="card"><div class="container text-center" style="display: flex; flex-wrap: wrap;">
 <div class=""col-sm-4 mb-3"></div>
      <div class="card" style="width: 24rem;">
  <img src="static/images/tigerlily.jpeg" style="width:24rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tiger Lily</h5>
    <p class="card-text">Delicious authentic Thai cuisine with a bar. A peaceful elegant restaurant with bamboo outdoor terrance.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Thai</li>
    <li class="list-group-item">Vegetarian options available</li>
    <li class="list-group-item">Osterley</li>
    <li class="list-group-item">££</li>
  </ul>
  <div class="card-body">
     <a href="tigerlilyofosterley.co.uk" class="btn btn-primary">Visit website</a></a>
    </div>
      </div>
 </div>
  </div>



{% endblock %}



